<nav class="navbar">
  <div class="nav-brand">
    <a href="/">📦 InventoryApp</a>
  </div>
  <ul class="nav-links">
    <li><a href="/items">All Items</a></li>
    <li><a href="/category">All Categories</a></li>
    <li><a href="/items/insert">Add Item</a></li>
    <li><a href="/category/insert">Add Category</a></li>
  </ul>
</nav>